.header-content img {
  max-width: 500px;
}
.header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 90px;
  gap: 30px;
  align-items: center;
}
.titulo-foto h1 {
  font-size: 60px;
}
.titulo-foto p {
  font-size: 30px;
}
.titulo-foto a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  border: 2px solid rgb(129, 128, 128);
  padding: 10px;
  transition: 1s;
}
.titulo-foto a:hover {
  background-color: rgb(214, 211, 211);
}
.foto img {
  animation: foto-rotate 4s infinite;
}
@keyframes foto-rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
